html {
    overflow-y: scroll;
}

body {
    padding: 50px 0 0 0;
    margin: 0;
}

#mainNavBar {
    border-radius: 0;
}

#mainNavBar ul.dropdown-menu {
    color: #fff;
    background-color: #080808;
    min-width: 200px;
    padding: 10px;
    border: 0;
    border-radius: 0;
    border-bottom-left-radius: 2px;
}

span.navbar-brand {
    cursor: pointer;
}

img.img-thumbnail {
    width: 100px;
    height: 100px;
    margin: 4px;
}

ul.artist-list {
    padding: 0;
}

ul.artist-list li {
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2px;
}

ul.artist-list li h2 {
    margin-left: 10px;
    display: inline-block;
}

ul.artist-list li div {
    width: 100px;
    height: 108px;
    float: right;
    border-left: 1px solid #ccc;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

ul.artist-list li div:active {
    background: #DDD;
    color: #000;
}

ul.artist-list li div span {
    line-height: 108px;
}