body {
    padding: 50px 0 0 0;
    margin: 0;
}

#mainNavBar {
    border-radius: 0;
}

#mainNavBar ul.dropdown-menu {
    color: #fff;
    background-color: #080808;
    min-width: 200px;
    padding: 10px;
    border: 0;
    border-radius: 0;
    border-bottom-left-radius: 2px;
}

span.navbar-brand {
    cursor: pointer;
}

img.img-thumbnail {
    width: 100px;
    height: 100px;
}

ul.artist-list {
    padding: 0;
}

ul.artist-list li {
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
}

ul.artist-list li h2 {
    margin-left: 10px;
    display: inline-block;
}